<!-- Footer -->
<footer class="page-footer fixed-bottom font-small blue bg-light">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">Created by
    <a href="https://github.com/vedanshu007">{{name}}</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
