<footer class="page-footer fixed-bottom font-small blue bg-transparent">


  <div class="footer-copyright  py-3" style="margin-left: 10px;">Created by
    <a style="color: rgb(36, 32, 32);" href="https://github.com/vedanshu007">{{name}}</a>
  </div>


</footer>

