<footer class="page-footer fixed-bottom font-small blue bg-transparent" s>


  <div class="footer-copyright  py-3" style="margin-left: 25px; color:white">Created by
    <a style="color: rgb(255, 255, 255);" href="https://github.com/vedanshu007">{{name}}</a>
  </div>


</footer>

