<span><nav class="navbar navbar-dark" >
            <a href="/" class="navbar-brand" style="font-family: 'Pacifico', cursive; font-size:2em">Wheather <img style="width: 40px; height:40px; margin-bottom:15px" src='/img/icon.png' href="/"/></a>
                <button class="navbar-toggler bg-danger" type="button" data-toggle="collapse" data-target="#WeatherMenu" aria-controls="WeatherMenu"
                 aria-expanded="false" aria-label="Toggle navigation" > <span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="WeatherMenu" style="text-align: center;">
                <div class="navbar-nav" style="left: 50%;" >
                <a href="/"  class="nav-item nav-link" style=" color:rgb(255, 255, 255); font-family: 'Bebas Neue', cursive; font-size:1.2em ">Home</a>
                <a href="/help" class="nav-item nav-link" style="color:rgb(255, 255, 255);font-family: 'Bebas Neue', cursive; font-size:1.2em" >Help</a>
                <a href="/aboutus"  class="nav-item nav-link" style="color:rgb(255, 255, 255);font-family: 'Bebas Neue', cursive; font-size:1.2em">About</a>
        
                            </div>
                        </div>
        
                    </nav>
                    </span>