<h1 style="font-size: 4em;font-family: serif; text-align:center;" href="/">Weather <img src='/img/logo.png' href="/"/></h1>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
                        
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#WeatherMenu" aria-controls="WeatherMenu"
                            aria-expanded="false" aria-label="Toggle navigation" > <span class="navbar-toggler-icon"></span></button>
                            <div class="collapse navbar-collapse" id="WeatherMenu" style="text-align: center;">
                            <div class="navbar-nav" style="left: 50%;" >
                            <a href="/"  class="nav-item nav-link" style="margin-left: 1%;">Home</a>
                            <a href="/help" class="nav-item nav-link" style="margin-left: 1%;">Help</a>
                            <a href="/aboutus"  class="nav-item nav-link" style="margin-left: 1%;">About</a>
        
                            </div>
                        </div>
        
                    </nav>